
// ----------------------------------------------------------------------------
// 1. PIPELINE PARAMETERS
// ----------------------------------------------------------------------------
params {
    // --- WORKFLOW CONTROL ---
    step            = ""        // 'all', 'download', 'index', 'align', 'filter'
    webhook_url     = secrets.WEBHOOK_URL ?: ""

    // --- 1.1 Input Data Options ---
    srr_ids         = ""           // Comma-separated SRA accessions (mandatory)

    // --- 1.2 Genome Annotation & Index Options ---
    genome_assembly = ""           // Genome assembly to use: e.g. 'GRCh38', 'GRCm38' (mandatory)
    genome_species  = ""           // Dynamic resolve species name: e.g. 'homo_sapiens' (optional)
    transcript_level =         // True for isoform-level, false for gene-level
    skip_simpleaf   =         

    // --- ALIGNMENT & PREPROCESSING ---
    scrnaseq_params = [
        protocol               : "",
        simpleaf_umi_resolution: "",
        custom_geometry        : ""
    ]
    child_custom_config = "" //path to custom config for child scRNA-seq process

    // --- QUALITY CONTROL (QC_FILTER) ---
    min_features    = 200
    max_features    = 8000
    min_counts      = 500
    max_percent_mt  = 10.0

    // --- STORAGE PATHS ---
    dataset_dir       = "${launchDir}/results/dataset"
    reference_dir     = "${launchDir}/results/reference"
    index_dir         = "${launchDir}/results/index"
    preprocessing_dir = "${launchDir}/results/preprocessing"
    unfiltered_dir    = "${launchDir}/results/"
    filtered_dir      = "${launchDir}/results/"
}

// ----------------------------------------------------------------------------
// 2. EXECUTOR & SYSTEM RESOURCE LIMITS
// ----------------------------------------------------------------------------
executor {
    name = 'local'
}

process {
    // Default resources
    cpus   = 2
    memory = 4.GB

    // Resource overrides for heavy tasks
    withName: 'ALIGN_SIMPLEAF|BUILD_INDEX' {
        cpus   = 8
        memory = 16.GB
    }

    withName: 'QC_FILTER' {
        cpus   = 4
        memory = 16.GB
    }

    withName: 'DOWNLOAD_BAM|DOWNLOAD_FASTQ' {
        maxForks      = 4
        errorStrategy = 'retry'
        maxRetries    = 2
    }
}

// ----------------------------------------------------------------------------
// 3. VIRTUALIZATION & CONTAINER PROFILES
// ----------------------------------------------------------------------------
profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }

    docker {
        docker.enabled         = true
        docker.runOptions      = '-u $(id -u):$(id -g)'
    }
}