/*
 * ============================================================================
 * nextflow.config - Unified Pipeline Configuration
 * ============================================================================
 */

//TODO: Revisiting full pipeline workflow to perfect it, starting from config file because it gives the user prospective
// ----------------------------------------------------------------------------
// 1. PIPELINE PARAMETERS
// ----------------------------------------------------------------------------
params {
    // --- WORKFLOW CONTROL ---
    step            = "align"        // 'download', 'index', 'align' (default: 'align')
    webhook_url     = secrets.WEBHOOK_URL ?: ""

    // --- DOWNLOAD PHASE OPTIONS ---
    dataset_dir = "${launchDir}/results/dataset"  
    input = null           // Mandatory. Path to CSV samplesheet (sample, sra)

    // --- INDEXING OPTIONS ---
    skip_simpleaf           = false // if true, gene_index_dir must be provided containing a simpleaf index
                                    // simpleaf must be: 'https://depot.galaxyproject.org/singularity/simpleaf:0.24.0--hd612981_1'         
    
    // -reference phase-
    reference_dir           = "${launchDir}/results/reference" //If empty
    gene_index_dir          = "${launchDir}/results/gene_index"
    transcript_level        = true        // True for isoform-level, false for gene-level
    transcript_index_dir    = "${launchDir}/results/transcript_index"
    
    genome_assembly         = ""           // Genome assembly to use: e.g. 'GRCh38', 'GRCm38'
    genome_species          = ""           // Dynamic resolve species name: e.g. 'homo_sapiens'
    ensembl_release         = 102

    // --- ALIGNMENT & PREPROCESSING ---
    //TODO: eventually change this vecotr into a file path to a personalized param file (maybe?)
    scrnaseq_params = [
        skip_multiqc           : true,
        skip_fastqc            : true,
        protocol               : "",
        simpleaf_umi_resolution: "",
        custom_geometry        : ""
    ]
    child_config = ""    //path to custom config for child scRNA-seq process

    // --- QUALITY CONTROL (QC_FILTER) ---
    min_features    = 200
    max_features    = 8000
    min_counts      = 500
    max_percent_mt  = 10.0

    // --- STORAGE PATHS ---
    preprocessing_dir       = "${launchDir}/results/preprocessing"
    unfiltered_dir          = "${launchDir}/results/"
    filtered_dir            = "${launchDir}/results/"
}


// ----------------------------------------------------------------------------
// 2. EXECUTOR & SYSTEM RESOURCE LIMITS
// ----------------------------------------------------------------------------
executor {
    name = 'local'
}

process {
    // Default resources
    cpus   = 2
    memory = 4.GB

    // Resource overrides for heavy tasks
    withName: 'ALIGN_SIMPLEAF|BUILD_INDEX' {
        cpus   = 8
        memory = 16.GB
    }

    withName: 'QC_FILTER' {
        cpus   = 4
        memory = 16.GB
    }

    withName: 'DOWNLOAD_BAM|DOWNLOAD_FASTQ' {
        maxForks      = 4
        errorStrategy = 'retry'
        maxRetries    = 2
    }
}

// ----------------------------------------------------------------------------
// 3. VIRTUALIZATION & CONTAINER PROFILES
// ----------------------------------------------------------------------------
profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }

    docker {
        docker.enabled         = true
        docker.runOptions      = '-u $(id -u):$(id -g)'
    }
}