/*
 * ============================================================================
 * conf/genomes.config - Reference Genome Catalog
 * ============================================================================
 */

params {
    ensembl_release = 102
    reference_urls  = [
        GRCh38: [
            fasta: "http://ftp.ensembl.org/pub/release-102/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz",
            gtf: "http://ftp.ensembl.org/pub/release-102/gtf/homo_sapiens/Homo_sapiens.GRCh38.102.gtf.gz"
        ],
        GRCm38: [
            fasta: "http://ftp.ensembl.org/pub/release-102/fasta/mus_musculus/dna/Mus_musculus.GRCm38.dna.primary_assembly.fa.gz",
            gtf: "http://ftp.ensembl.org/pub/release-102/gtf/mus_musculus/Mus_musculus.GRCm38.102.gtf.gz"
        ]
    ]
}
